{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
    .happy-heading {
        background: #f1fcfd;
        color: aqua;
        height: 200px;
    }

    .text-center {
        padding-top: 5%;
    }
</style>
{%endblock%}
 
 
{% block content1 %}

<div class="happy mt-3">
    <div class="happy-heading">
        <h1 class="text-center">7 Happy Emotions (Positive Emotions You should Know)</h1>
    </div>

    <div class="container">
        <div class="content1 mt-4">
            Happiness is something that people seek to find, yet what defines happiness can vary from one person to the
            next. Typically, happiness is an emotional state characterized by feelings of joy, satisfaction,
            contentment, and fulfillment. While happiness has many different definitions, it is often described as
            involving positive emotions and life satisfaction.
            <br><br> When most people talk about the true meaning of happiness, they might be talking about how they
            feel in the present moment or referring to a more general sense of how they feel about life overall.
        </div>
        <div class="signOfHappiness mt-3">
            <h1>Signs of Happiness</h1>
            <p class="mt-2">While perceptions of happiness may be different from one person to the next, there are some
                key signs that psychologists look for when measuring and assessing happiness.</p>
            <p class="mt-2">Some key signs of happiness include:</p>

            <p class="mt-2">1.Feeling like you are living the life you wanted <br><br>
                2.Going with the flow and a willingness to take life as it comes <br><br>
                3.Feeling that the conditions of your life are good <br><br>
                4.Enjoying positive, healthy relationships with other people <br><br>
                5.Feeling that you have accomplished (or will accomplish) what you want in life <br><br>
                6.Feeling satisfied with your life <br><br>
                7.Feeling positive more than negative <br><br>
                8.Being open to new ideas and experiences <br><br>
                9.Practicing self-care and treating yourself with kindness and compassion <br><br>
                10.Experiencing gratitude <br><br>
                11.Feeling that you are living life with a sense of meaning and purpose <br><br>
                12.Wanting to share your happiness and joy with others <br><br>
            </p>
        </div>
        <div class="typeOfHappiness mt-3">
            <h1>Types of Happiness</h1><br>
            <p class="mt-2">
                <strong>1. Joy:</strong>  A often relatively brief feeling that is felt in the present moment <br>
                <strong>2. Excitement:</strong>  A happy feeling that involves looking forward to something with positive anticipation <br>
                <strong>3. Gratitude:</strong> A positive emotion that involves being thankful and appreciative <br> 
                <strong>4. Pride:</strong> A feeling of satisfaction in something that you have accomplished <br>
                <strong>5. Optimism:</strong>  This is a way of looking at life with a positive, upbeat outlook <br>
                <strong>6. Contentment:</strong> This type of happiness involves a sense of satisfaction <br>
            </p>
        </div>
    </div>
</div>

{% endblock %}