{% load static %}

<style>
    .img-thumbnails {
        height: 417px;
        width: 100%;
    }
</style>

<div class="emotion m-3">
    <h1 class="text-center">Know more about Emotions</h1>
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="img-thumbnails" src="{% static 'assets/angry.jpg' %}" alt="Angry" srcset="">
        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Angry</h1>
                <p class="lead"> a powerful and complex emotion that arises in response to perceived injustice, frustration, or threat. It manifests as a strong feeling of displeasure, often accompanied by increased heart rate, tense muscles, and heightened energy.</p>
                <hr class="my-4">
                <p>An angry mood is like a turbulent storm brewing within. It is a visceral experience that engulfs one's emotions and thoughts. It manifests as a fiery surge, fueling intense frustration, resentment, and indignation. The body tenses, muscles tighten, and adrenaline surges, ready for a fight. Rationality wanes as a red haze clouds perception, and words or actions may be driven by a primal urge to express displeasure or seek retribution. It is a state where patience wears thin, and emotions run high, leading to a sense of unrest and discord.
                </p>
                 
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Disgust</h1>
                <p class="lead">Disgust is a strong feeling of being really turned off or repulsed by something or someone. It happens when we come across things that are offensive, gross, or morally wrong. We might feel sick to our stomach, scrunch up our face, and want to get away from whatever is causing the disgust.</p>
                <hr class="my-4">
                <p> Disgust: a visceral recoil, a shudder of repulsion. Nausea rises, features contort. Averse to the offensive, the repugnant, the morally abhorrent. Sensations clash, muscles tighten, longing for distance. A protective instinct, steering clear of harm, marking boundaries. The gut's alarm, guiding our judgments, preserving purity in a world tainted.
                </p>
                
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnails" src="{% static 'assets/disgust.jpg' %}" alt="Disgust" srcset="">
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="img-thumbnails" src="{% static 'assets/fear.jpg' %}" alt="Fear" srcset="">
        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Fear</h1>
                <p class="lead">Fear is a powerful emotion that arises in response to perceived danger or threat. It triggers a range of physical and mental reactions, preparing us for fight, flight, or freeze, and motivating self-preservation.</p>
                <hr class="my-4">
                <p>  An intense emotional response to perceived threats or dangers. It triggers a cascade of physiological reactions—increased heart rate, shallow breathing, and heightened senses—preparing the body for survival. Fear can be paralyzing, fueling anxiety and avoidance, or it can serve as a motivator for caution and self-preservation..
                </p>
                
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Happy</h1>
                <p class="lead"> Joyful bliss, heart's light aglow. Smiles dance, laughter overflows. Serene contentment, warm embrace. Sparkling eyes, a radiant face. Happiness, a melody of delight, lifting spirits, painting life bright.</p>
                <hr class="my-4">
                <p>  Happiness emotion is a sunlit symphony of the soul. It paints the world in vibrant hues, filling hearts with warmth and light. A contagious joy that dances in laughter, embraces in love, and whispers of contentment. It's the harmony of gratitude, purpose, and connection, creating a tapestry of blissful moments, cherished and treasured.
                </p>
                 
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnails" src="{% static 'assets/happy1.jpg' %}" alt="Happy" srcset="">
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="img-thumbnails" src="{% static 'assets/neutral.jpg' %}" alt="Neutral" srcset="">
        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Neutral</h1>
                <p class="lead">Neutral emotion reflects a state of equilibrium, where there is neither a strong positive nor negative emotional charge. It is a calm and balanced state of being, lacking intense feelings or significant emotional fluctuations.</p>
                <hr class="my-4">
                <p>In this state, one may experience a sense of tranquility, mental clarity, or a general absence of emotional arousal. It is a neutral ground where thoughts and perceptions can be observed objectively, free from the influence of strong emotions. While not as vivid or impactful as intense emotions, neutrality provides a stable foundation for reflection, decision-making, and a sense of inner calm.
                </p>
                 
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Sad</h1>
                <p class="lead"> Sadness is a profound and often melancholic emotion that arises from feelings of loss, disappointment, or grief. It casts a shadow over one's spirit, leaving a heavy heart and a sense of sorrow.</p>
                <hr class="my-4">
                <p>Tears may flow, and a deep longing for what once was or what could have been pervades. Sadness can be triggered by various experiences, such as the end of a relationship, the loss of a loved one, or unfulfilled dreams. It slows the pace of life, dampening enthusiasm and energy. While sadness can be challenging, it is a natural and necessary part of the human experience, allowing for healing, reflection, and growth.
                </p>
                 
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnails" src="{% static 'assets/sad1.jpg' %}" alt="Sad" srcset="">
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="img-thumbnails" src="{% static 'assets/surprise.jpg' %}" alt="Surprise" srcset="">
        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Surprise</h1>
                <p class="lead"> Surprise is an emotion that arises when something unexpected or unanticipated occurs. It is a brief and intense feeling, often accompanied by widened eyes, a gasp, or a sudden increase in heart rate. </p>
                <hr class="my-4">
                <p>It It disrupts our existing mental models and momentarily shifts our focus. It can evoke excitement, astonishment, or confusion. Surprise adds a sense of novelty and unpredictability to our experiences, awakening our curiosity and alertness. It can be a source of joy, wonder, or even a momentary feeling of vulnerability as we adjust to the unexpected change in our circumstances.
                </p>
                 
            </div>
        </div>
    </div>

</div>