{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
    .surprise-heading {
        background: #f1fcfd;
        color: aqua;
        height: 200px;
    }

    .text-center {
        padding-top: 5%;
    }
</style>
{%endblock%}


{% block content1 %}

<div class="surprise mt-3">
    <div class="surprise-heading">
        <h1 class="text-center">(surprise Emotions You should Know)</h1>
    </div>

    <div class="container">
        <div class="content1 mt-4">
            Surprise is one of the seven universal emotions and arises when we encounter sudden and unexpected sounds or movements. As the briefest of the universal emotions, its function is to focus our attention on determining what is happening and whether or not it is dangerous.
        </div>
        <div class="signOfsurpriseness mt-3">
            <h1>Feeling surprise</h1>
            <p class="mt-2">Some emotion scholars do not consider surprise to be an emotion because they say it is neither pleasant nor unpleasant, claiming that all emotions must be one or the other. Many emotions experts, including Dr. Paul Ekman, disagree with this stance, noting that surprise feels like an emotion to most people; in the moment or two before we figure out what is occurring, before we switch to another emotion or no emotion, surprise itself can feel good or bad.</p>
            <h3>Duration of surprise</h3>
            <p>Surprise is the briefest of all the emotions, lasting a few seconds at most. Other emotions can be very brief, but they can also endure much longer, whereas surprise has a fixed, limited duration.</p>
            <h3>What follows surprise</h3>
            <p>Within seconds, surprise passes as we figure out what is happening. From there, surprise may merge into fear, amusement, relief, anger, disgust, and so forth depending upon what it was that surprised us. It may also be followed by no emotion at all if we determine that the surprising event was of no consequence to us.</p>

            <h1>What surprises us?</h1>
            <p class="mt-2">The universal triggers for surprise are sudden and unexpected occurrences.</p>

            <h3>Common surprise triggers:</h3>
             
            <p class="mt-2">1.Loud sounds (e.g., a balloon popping or a car backfiring)
                <br><br>
                2.Unexpected movements (e.g., someone sneaking up on you or throwing a ball at you without warning)<br><br>
            </p>
        </div>
        <div class="functionOfsurpriseness mt-3">
            <h1>The function of surprise</h1><br>
            <p class="mt-2">
                The function of surprise is to focus our attention so we can determine what is happening and whether we are in danger or not.
            </p>
            <h3>Responding to surprise</h3>
            <p>Some people never want to be surprised, even if it is by a positive event. They tell people never to surprise them. Others love being surprised; they deliberately leave many things unplanned so that they can often experience the unexpected. They seek experiences in which it is likely they will be surprised.</p>
        </div>
    </div>
</div>

{% endblock %}